:root {
  --primary-color: hsl(218, 44%, 22%);
  --secondary-color: hsl(220, 15%, 55%);
  --background-color: hsl(212, 45%, 89%);
  --container-color: hsl(0, 0%, 100%);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --link-color: hsl(228, 45%, 44%);
  --font-family: "Outfit", sans-serif;
  --font-size: 15px;
  --header-font-size: 22px;
  --paragraph-font-size: var(--font-size);
}

body {
  background-color: var(--background-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 98vh;
  font-family: var(--font-family);
  font-size: var(--font-size);
}

main {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

section {
  background-color: var(--container-color);
  padding: 16px;
  border-radius: 10px;
  text-align: center;
  max-width: 290px;
  box-shadow: 0px 0px 10px var(--shadow-color);
}

img {
  width: 100%;
  border-radius: 10px;
}

h1 {
  font-weight: 700;
  font-size: var(--header-font-size);
  color: var(--primary-color);
  margin: 16px 0;
}

p {
  font-weight: 400;
  color: var(--secondary-color);
  padding: 0 16px;
  margin-bottom: 25px;
}

footer {
  font-size: 11px;
  text-align: center;
}

footer a {
  color: var(--link-color);
}
